body {
  background-color: var(--page-bg-clr);
}

.page-header {
  background-color: var(--page-header-bg-clr);

  .title {
    font-size: var(--ff-page-header__logo-size);
    font-weight: var(--ff-page-header__logo-wgt);
    color: var(--ff-page-header__logo-clr);
  }

  .subtitle {
    font-size: var(--ff-page-header__subtitle-size);
    font-weight: var(--ff-page-header__logo-wgt);
    color: var(--ff-page-header__logo-clr);
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;

  padding: 3rem 0;
}

.page-header__logo--vertical {
  justify-items: center;
}

.page-header__navigation-bar {
  display: flex;
  justify-content: center;
  justify-items: center;

  padding: 1rem 0;

  background-color: var(--page-header__nav-bg-clr);

  ul[role="list"] {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
}

.page-content {
  display: flex;
  padding: 2.5% 10%;
  gap: 1rem;

  ul[role="list"] {
    list-style: none;
  }
}

.topic-entry {
    background-color: white;
    padding: 2rem 1rem 1rem 1rem;

    border-radius: 0.25rem;
}

.topic-entry__tags {
  display: flex;
  gap: 0.25rem;
}

.title {
  font-size: var(--ff-title-size);
}
